/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }

.nav-item-forza {
    background: #ce0012!important;
    border-color: #8E8E8F!important;
    color: white !important;
}

/*Paypal button*/
.paypal-logo {
    font-family: Verdana, Tahoma;
    font-weight: bold;
    font-size: 12px;
}

.paypal-logo i:first-child {
    color: #253b80;
}

.paypal-logo i:last-child {
    color: #179bd7;
}

.paypal-button {
    padding: 5px 15px;
    border: 1px solid #f93;
    border-radius: 5px;
    background-image: linear-gradient(#fff0a8, #f9b421);
    margin: 0 auto;
    display: block;
    min-width: 138px;
    position: relative;
}

.paypal-button-title {
    font-size: 12px;
    color: #505050;
    vertical-align: baseline;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.paypal-button .paypal-logo {
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    font-size: 20px;
}